.leaflet-container {
    height: 100vh;
    margin: auto

}

.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: aliceblue;
    transform: translate(-25%,-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.map-container {
    height: calc(100vh - 0px); /* Full height minus the navbar height */
    width: 60%; /* Full width */
    margin-top: 73px; /* Adjust this value to create space from the top */
    margin-left: auto; /* Push the map to the right */
    margin-right: 0; /* No right margin */
    position: relative; /* Ensure relative positioning */
}